$grayColor: #E8E8E8;
$colorTitle: #363636;
$colorInputSearch: #a5a5a5;
$colorInputSearchActive: #4A93EF;
$colorTrackScrollbar:#F2F2F2;
$colorThumbScrollbar:#CCCCCC;
$radiusScrollBar: 10px;
$colorThumbScrollbarHover: #555;
$heightPanelLeft : 400px;
$heightPanelRight: 449px;

$colorItemCityHover: #F2F2F2;
$colorChiniseName: #898989;

$colorCheckBox: #828282;
$colorCheckBoxSelected: #4390EF;
$colorClear: #4390EF;
$colorInfoTextRight: #A1A1A1;